<div id="pronunciation-practice-component-wrapper" fxLayout="row" fxLayoutAlign="center stretch" style="height:80vh">
    <div fxFlex="100%">
        <div fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex></div>
            <mat-card fxFlex="80%" *ngIf="!!phrase && !!sound" style="height:100%;">
                <mat-card-header fxLayout="row" fxLayoutAlign="center start">
                    <mat-card-title>
                        <h2>Choose the correct pronunciation of <em>{{ sound.writtenForm }}</em></h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content fxLayout="column" fxLayoutAlign="start center">
                    <div *ngIf="!!choices">
                        <app-play-audio *ngFor="let choice of choices" 
                            [audioTrack]="choice.value"
                            (click)="selectPronunciation(choice.key)"
                            [ngClass]="{ 'selected': userAnswer === choice.key }"
                            style="display:inline-block;width:33%"></app-play-audio>
                    </div>   
                </mat-card-content>
            </mat-card>
            <div fxFlex></div>
        </div>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center stretch" class="journey-nav">
    <div fxFlex="100%">
        <div fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex></div>
            <div fxFlex="50%">
                <button fxFlex="" *ngIf="!!phrase && (answerValidity !== 'correct')"
                        mat-raised-button 
                        color="accent"
                        (click)="checkAnswer()"
                >
                    Check answer
                </button>
                <button fxFlex="" *ngIf="!!phrase && (answerValidity === 'correct')"
                        mat-raised-button 
                        color="accent"
                        (click)="continue()"
                >
                    Continue
                    <mat-icon>chevron_right</mat-icon>
                </button>
                <button fxFlex="" *ngIf="!!phrase && (answerValidity === 'invalid')"
                    mat-raised-button 
                    color="accent"
                    (click)="goToReview()"
                >
                    Continue (review)
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
            <div fxFlex></div>
        </div>
    </div>
</div>