<div id="phrase-revealed-component-wrapper" fxLayout="row" fxLayoutAlign="center stretch" style="height:80vh">
    <div fxFlex="100%">
        <div fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex></div>
            <mat-card fxFlex="80%" *ngIf="!!phrase" style="height:100%;">
                <mat-card-header fxLayout="row" fxLayoutAlign="center start">
                    <mat-card-title>
                        <h3>The sentence you heard:</h3>
                        <h2>{{ phrase.writtenForm }}</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content fxLayout="column" fxLayoutAlign="start center">
                    <app-play-video [videoFile]="phrase.video"></app-play-video>
                </mat-card-content>
            </mat-card>
            <div fxFlex></div>
        </div>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center stretch" class="journey-nav">
        <div fxFlex="100%">
            <div fxLayout="row" fxLayoutAlign="center start">
                <div fxFlex></div>
                <div fxFlex="50%">
                    <button fxFlex="" *ngIf="!!phrase && !!firstSound"
                            mat-raised-button 
                            color="accent"
                            [routerLink]="['/sounds-to-study', phrase.$key, firstSound.$key]"
                    >
                        Let's break things down
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
                <div fxFlex></div>
            </div>
        </div>
    </div>