<div id="phrase-intro-component-wrapper" fxLayout="row" fxLayoutAlign="center stretch" style="height:80vh">
    <div fxFlex="100%">
        <div fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex></div>
            <mat-card fxFlex="80%" *ngIf="!!phrase" style="height:100%;">
                <mat-card-header fxLayout="row" fxLayoutAlign="center start">
                    <mat-card-title>Watch and listen to what's said</mat-card-title>
                </mat-card-header>
                <mat-card-content fxLayout="column" fxLayoutAlign="start center">
                    <app-play-video [videoFile]="phrase.video" playSlower="true"></app-play-video>
                </mat-card-content>
            </mat-card>
            <div fxFlex></div>
        </div>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center stretch" class="journey-nav">
        <div fxFlex="100%">
            <div fxLayout="row" fxLayoutAlign="center start">
                <div fxFlex></div>
                <div fxFlex="80%">
                    <button fxFlex="100%" *ngIf="!!phrase"
                            mat-raised-button 
                            color="accent"
                            [routerLink]="['/how-many-words-question', phrase.$key]"
                    >
                        Continue
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
                <div fxFlex></div>
            </div>
        </div>
    </div>