@import "../../_variables";

$title-font-size: 36px;

.mat-card {
    border: none;
    box-shadow: none !important;
    text-align: center;

    .mat-card-header {
        .mat-card-title {
            font-size: $title-font-size;
        }

        .mat-card-subtitle {
            font-size: $title-font-size/2;
        }
    }
}

// deprecated style hack to get style applied to <span>
// https://stackoverflow.com/questions/36265026/angular-2-innerhtml-styling
:host ::ng-deep .phrase {
    $phrase-font-size: 20px;

    p {
        font-size: $phrase-font-size;
    }

    span {
        color: $accent;
        font-weight: 500;
        font-size: $phrase-font-size*1.2;
    }
}

.journey-nav {
    button {
        margin: 0 3px;
    }
}

// TODO: Move this up a level.
// .screen-nav-cta {
//     $font-size: 24px;

//     margin: 5px 0;
//     width: 100%;
//     padding: 7px 0;
//     font-size: $font-size;

//     mat-icon {
//         font-size: $font-size*1.4;
//         height: $font-size*1.4;
//         width: $font-size*1.4;
//     }
// }