<div id="sound-component-wrapper" fxLayout="row" fxLayoutAlign="center stretch" style="height:80vh">
    <div fxFlex="100%">
        <div fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex></div>
            <mat-card fxFlex="80%" *ngIf="!!currentSound" style="height:100%;">
                <mat-card-header fxLayout="row" fxLayoutAlign="center start">
                    <mat-card-title>{{ currentSound.writtenForm }}</mat-card-title>
                    <mat-card-subtitle>Written Form</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content fxLayout="column" fxLayoutAlign="start center">
                    <app-play-audio [audioTrack]="currentSound.audio"></app-play-audio>
                    <div class="phrase">
                        <p [innerHTML]="phrase.writtenForm | highlightSubstring:currentSound.writtenForm | quotify"></p>
                    </div>
                </mat-card-content>
            </mat-card>
            <div fxFlex></div>
        </div>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center stretch" class="journey-nav">
    <div fxFlex="100%">
        <div fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex></div>
            <div fxFlex="50%">
                <button fxFlex="" *ngIf="!!previousSound" mat-raised-button color="accent" [routerLink]="['/sounds-to-study', phraseId, previousSound.$key]">
                    <mat-icon>chevron_left</mat-icon>
                    Back
                </button>
                <button fxFlex *ngIf="!!nextSound" mat-raised-button color="accent" [routerLink]="['/sounds-to-study', phraseId, nextSound.$key]">
                    Next
                    <mat-icon>chevron_right</mat-icon>
                </button>
                <button fxFlex *ngIf="nextSound === null && !!firstQuestionPath" 
                    mat-raised-button color="accent" (click)="goToFirstQuestion()">
                    Continue
                    <mat-icon>chevron_right</mat-icon>
                </button>
                <button fxFlex *ngIf="!!isReview && !!nextQuestionPath"
                    mat-raised-button color="accent" [routerLink]="nextQuestionPath">
                    Continue (back to questions)
                </button>
            </div>
            <div fxFlex></div>
        </div>
    </div>
</div>