<div id="multiple-choice-component-wrapper" fxLayout="row" fxLayoutAlign="center stretch" style="height:80vh">
    <div fxFlex="100%">
        <div fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex></div>
            <mat-card fxFlex="80%" *ngIf="!!phrase && !!sound" style="height:100%;">
                <mat-card-header fxLayout="row" fxLayoutAlign="center start">
                    <mat-card-title>
                        <h2>What is the correct written form?</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content fxLayout="column" fxLayoutAlign="start center">
                    <app-play-audio [audioTrack]="sound.audio"></app-play-audio>
                </mat-card-content>
            </mat-card>
            <div fxFlex></div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center start" class="choices">
            <mat-radio-group *ngIf="!!choices" name="multiple-choice" [(ngModel)]="userAnswer" fxLayout="row wrap" fxLayoutGap="2%">
                <mat-radio-button *ngFor="let choice of choices; let i = index" 
                        [value]="choice.key" 
                        [disabled]="(answerValidity === 'correct' && choice.key !== correctAnswer.key) || answerValidity === 'invalid'"
                        style="width:48%">{{ choice.value }}</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center stretch" class="journey-nav">
    <div fxFlex="100%">
        <div fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex></div>
            <div fxFlex="50%">
                <button fxFlex="" *ngIf="!!phrase && (answerValidity !== 'correct')"
                        mat-raised-button 
                        color="accent"
                        (click)="checkAnswer()"
                >
                    Check answer
                </button>
                <button fxFlex="" *ngIf="!!phrase && (answerValidity === 'correct')"
                        mat-raised-button 
                        color="accent"
                        (click)="continue()"
                >
                    Continue
                    <mat-icon>chevron_right</mat-icon>
                </button>
                <button fxFlex="" *ngIf="!!phrase && (answerValidity === 'invalid')"
                    mat-raised-button 
                    color="accent"
                    (click)="goToReview()"
                >
                    Continue (review)
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
            <div fxFlex></div>
        </div>
    </div>
</div>