@import '../../../../_variables.scss';

.choices {
    margin-top: 20px;

    mat-radio-button {
        padding: 10px 5px;
        border-radius: 10px;
        border: 1px solid grey;
        margin-bottom: 10px;


        &.mat-radio-checked {
            background: lighten($accent, 30%);
        }

        // style not being applied...
        .mat-radio-label {
            width: 100%;
        }
    }
}