<div class="audio">
    <audio class="sound" 
            src="{{ audioTrack }}" 
            preload="auto" 
            controls=""
            (playing)="onAudioPlaying()"
            (pause)="onAudioReady()"
            (ended)="onAudioEnded()"
            (timeupdate)="onAudioProgress($event)">
        Your browser does not support the
        <code>audio</code> element.
    </audio>
    <button mat-raised-button 
            color="primary" 
            class="audio-button" 
            (click)="playSound()">
        <mat-icon>{{ audioButtonIcon }}</mat-icon>
        <span class="progress-overlay" [ngStyle]="{ 'left': progOverlayPos }"></span>
    </button>
</div>
