@import "../../../_variables";

.sound {
    display: none;
}

.audio-button {
    $dimensions: 128px;
    color: $light-primary-text;
    position: relative;
    overflow-x: hidden;

    border-radius: 50%;
    height: $dimensions;
    width: $dimensions;

    mat-icon {
        width: $dimensions/2;
        height: $dimensions/2;
        font-size: $dimensions/2;
    }

    .progress-overlay {
        height: $dimensions;
        width: $dimensions;
        background: rgba(0,0,0,0.2);
        display: block;
        position: absolute;
        top: 0;
        left: -$dimensions;
        border-radius: 50%;
    }
}