<div id="how-many-words-wrapper" fxLayout="row" fxLayoutAlign="center stretch" style="height:80vh">
    <div fxFlex="100%">
        <div fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex></div>
            <mat-card fxFlex="80%" *ngIf="phrase" style="height:100%;">
                <mat-card-header fxLayout="row" fxLayoutAlign="center start">
                    <mat-card-title>{{ question }}</mat-card-title>
                    <!-- <mat-card-subtitle>Written Form</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content fxLayout="column" fxLayoutAlign="start center">
                    <app-play-video [videoFile]="phrase.video"></app-play-video>
                    <div class="answer">
                        <mat-form-field appearance="outline">
                            <input matInput 
                                [(ngModel)]="userAnswer" 
                                type="number" 
                                (keyup)="onKeyUp($event)">
                        </mat-form-field>
                        {{ answerValidity }}
                    </div>
                </mat-card-content>
            </mat-card>
            <div fxFlex></div>
        </div>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center stretch" class="journey-nav">
    <div fxFlex="100%">
        <div fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex></div>
            <div fxFlex="50%">
                <button fxFlex="" *ngIf="phrase"
                        mat-raised-button 
                        color="accent"
                        [disabled]="!userAnswer"
                        (click)="checkAnswer()"
                >
                    Check answer
                </button>
            </div>
            <div fxFlex></div>
        </div>
    </div>
</div>