<div id="what-do-you-hear-component-wrapper" fxLayout="row" fxLayoutAlign="center stretch" style="height:80vh">
    <div fxFlex="100%">
        <div fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex></div>
            <mat-card fxFlex="80%" *ngIf="!!phrase && !!sound" style="height:100%;">
                <mat-card-header fxLayout="row" fxLayoutAlign="center start">
                    <mat-card-title>{{ questionTitle }}</mat-card-title>
                </mat-card-header>
                <mat-card-content fxLayout="column" fxLayoutAlign="start center">
                    <app-play-audio [audioTrack]="sound.audio"></app-play-audio>
                    <div class="answer">
                        <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="userAnswer" type="text" (keyup)="onKeyUp($event)">
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
            <div fxFlex></div>
        </div>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center stretch" class="journey-nav">
    <div fxFlex="100%">
        <div fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex></div>
            <div fxFlex="50%">
                <button fxFlex="100%" *ngIf="answerValidity !== 'correct'" 
                    mat-raised-button color="accent" (click)="checkAnswer()">
                    Check answer
                </button>
                <button fxFlex="100%" *ngIf="answerValidity === 'correct'" 
                    mat-raised-button color="accent" (click)="continue()">
                    Continue
                    <mat-icon>chevron_right</mat-icon>
                </button>
                <button fxFlex="" *ngIf="!!phrase && (answerValidity === 'invalid')" mat-raised-button color="accent" (click)="goToReview()">
                    Continue (review)
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
            <div fxFlex></div>
        </div>
    </div>
</div>