@import '../node_modules/@angular/material/theming';

@include mat-core();

$app-main-theme-primary: mat-palette($mat-light-blue);
$app-main-theme-accent: mat-palette($mat-orange, A200, A100, A400);
$app-main-theme-warn: mat-palette($mat-red);

$app-main-theme: mat-light-theme($app-main-theme-primary, $app-main-theme-accent, $app-main-theme-warn);

@include angular-material-theme($app-main-theme);