/*
* A place for variables that can be accessed within SCSS files in the app.
* Initially intended to be able to grab colour palette properties from Material.
* https://medium.com/@aleixsuau/how-to-use-angular-material-2-sass-variables-in-your-components-76ce0203f126
*/

// Import material theming functions
@import '~@angular/material/theming';

$app-main-theme-primary: mat-palette($mat-light-blue);
$app-main-theme-accent: mat-palette($mat-orange, A200, A100, A400);
$app-main-theme-warn: mat-palette($mat-red);

$primary: mat-color($app-main-theme-primary);
$accent: mat-color($app-main-theme-accent);
$warn: mat-color($app-main-theme-warn);