/* You can add global styles to this file, and also import other style files */
@import "~normalize.css/normalize.css";
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./_app-main-theme";

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.mat-raised-button.mat-accent {
    color: $light-primary-text;
}

// Add !important to default browser styles to avoid it being overridden by e.g. adding a class with a style display: flex;.
[hidden] {
    display: none !important;
}