.video-player {
    position: relative;

    video {
        width: 100%;
    }

    .video-controls {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        button {
            cursor: pointer;
            background: none;
            border: 0;
        }

        mat-icon {
            $icon-size: 84px;
            font-size: $icon-size;
            height: $icon-size;
            width: $icon-size;
            color: white;
        }
    }

}