<div class="video-player" fxFlex="100%">
    <video
        src="{{ videoFile }}"
        preload="auto"
        (click)="togglePlayback()"
        (play)="onVideoPlaying()"
        (pause)="onVideoPaused()"
        (ended)="resetVideo()">
        Your browser does not support the <code>video</code> element.
    </video>
    <div class="video-controls" [hidden]="isPlaying">
        <button #video
            [hidden]="currentSelected === 'slow'"
            id="play-full-speed" 
            title="Play video"
            (click)="togglePlaybackNormalSpeed()">
                <mat-icon>{{ mainPlayButtonIcon }}</mat-icon>
        </button>
        <button *ngIf="!!playSlower"
            [hidden]="currentSelected === 'normal'"
            id="play-slower"
            title="Play video slower"
            (click)="togglePlaybackSlowMo()">
                <mat-icon>{{ slowMoPlayButtonIcon }}</mat-icon>
        </button>
    </div>
</div>
